# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

# Tab indentation (no size specified)
[meson.build]
indent_style = space
indent_size = 4

[*.{c,h}]
indent_style = tab
indent_size = 8
