Bob Woodside <rwoodside1@woodsway.com> drbob <drbob>
Brad Giaccio <bgiaccio@psrw.com> bgiaccio <bgiaccio>
Dan Espen <despen@verizon.net> dane <dane>
Dominik Vogt <dominik.vogt@gmx.de> domivogt <domivogt>
Jason L. Tibbs III <tibbs@math.uh.edu> tibbs <tibbs>
Jason Weber <baboon@imonk.com> jpweber <jpweber>
Matthias Clasen <clasen@mathematik.uni-freiburg.de> clasen <clasen>
Michael Han <mikehan@mikehan.com> mikehan <mikehan>
Mikhael Goikhman <migo@homemail.com> migo <migo>
Olivier Chapuis <olivier.chapuis@free.fr> olicha <olicha>
Paul D. Smith <pausmith@nortelnetworks.com> psmith <psmith>
Renato Caldas <seventhguardian@gmail.com> renato <renato>
Scott Smedley <ss@aao.gov.au> scott <scott>
Thomas Adam <thomas@fvwm.org> Thomas Adam <thomas@xteddy.org>
Thomas Adam <thomas@fvwm.org> tadam <tadam>
Thomas Funk <t.funk@web.de> tfunk <tfunk>
Viktor Griph <griph@dd.chalmers.se> griph <griph>
Viktor Griph <viktor.griph@gmail.com > griph <griph>
Viktor Griph <viktor@griph.se> griph <griph>
