# open big xterm
*FvwmConsoleSubst '^bigx' 'Exec xterm -g 120x60+0+0 -fn 10x20 -fg black -bg lemonchiffon'

*FvwmConsoleSubst '^fb' 'FvwmButtons'

# jump to desk 0, page 0 <argument>, and focus
*FvwmConsoleSubst '^g\s*(\d+)' 'Desk 0 0\nGotoPage 0 $1 \nFocus'

# open xterm with console
*FvwmConsoleSubst '^XC' 'Exec xterm -g 40x6-0+200 -fn 7x14 -C &'

# open xterm with console and FvwmConsole - XCF at the begining
*FvwmConsoleSubst '^XCF' 'FvwmConsole -C -e /usr/lib/X11/fvwm2/FvwmConsoleC.pl'

# list functions
*FvwmConsoleKey \mc list_func

# execute last command - meta cntrol a
*FvwmConsoleKey \m\ca 'prev_line(); enter();'

# some common style
# substitute  BARE with non-word char surrounding it to bare window style
*FvwmConsoleSubst '(\W)BARE($|\W)' '$1NoTitle, NoHandles, Sticky, WindowListSkip, Borderwidth 0 '

