name: FVWM3 CI

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Pulling docker image
      run: docker pull fvwmorg/fvwm3-build:latest
    - name: Build Package
      run: 'docker build -t fvwm3 .'
    - name: Code Coverage (via Codecov)
      uses: codecov/codecov-action@v1
      with:
        verbose: true

  changelog:
      name: Update Changelog
      runs-on: ubuntu-20.04
      needs: build
      steps:
          - name: Checkout code
            if: github.ref == 'refs/heads/master'
            uses: actions/checkout@v2
            with:
                ref: master
          - name: Update CHANGELOG
            if: github.ref == 'refs/heads/master'
            run: |
                    docker run -v $(pwd):$(pwd) ferrarimarco/github-changelog-generator --exclude-labels "skip:changelog" --breaking-labels "type:breaking" --enhancement-labels "type:enhancement","type:new-feature" --bug-labels "type:bug" -t ${{ secrets.GITHUB_TOKEN }} --user fvwmorg --project fvwm3 -o "$(pwd)/CHANGELOG.md"
                    sed -i '/This Changelog was automatically generated/d' CHANGELOG.md
          - name: Commit CHANGELOG
            if: github.ref == 'refs/heads/master'
            uses: stefanzweifel/git-auto-commit-action@v4
            with:
                commit_user_name: Fvwm Automation
                commit_user_email: fvwm-automation@example.org
                commit_author: Fvwm Automation <fvwm-automation@example.org>
                commit_message: '[AUTO]: update CHANGELOG'
                file_pattern: CHANGELOG.md

  notification:
    runs-on: ubuntu-20.04
    name: notifications
    steps:
      - name: irc pull request
        uses: rectalogic/notify-irc@v1
        if: github.event_name == 'pull_request'
        with:
          channel: "#fvwm"
          nickname: fvwm3-gh
          message: "PR: [${{ github.event.pull_request.number }}]: ${{ github.event.pull_request.title }} -- [${{ github.event.pull_request.user.login }}]"
      - name: irc tag created
        uses: rectalogic/notify-irc@v1
        if: github.event_name == 'create' && github.event.ref_type == 'tag'
        with:
          channel: "#fvwm"
          nickname: fvwm-gh
          message: ${{ github.actor }} tagged ${{ github.repository }} ${{ github.event.ref }}
