name: FVWM3 CI

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
  build:
    runs-on: blacksmith-4vcpu-ubuntu-2204
    container:
      image: ${{ matrix.os == 'alpine' && 'fvwmorg/fvwm3-build-alpine:latest' || 'fvwmorg/fvwm3-build:latest' }}
    env:
      GO111MODULE: "on"

    strategy:
      matrix:
        os: [blacksmith-4vcpu-ubuntu-2204, alpine]
        build-system: [autotools, meson]
        compiler: [gcc, clang]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set git safe directory
        run: git config --global --add safe.directory ${GITHUB_WORKSPACE}

      - name: Configure and Build
        run: |
          if [ "${{ matrix.build-system }}" = "autotools" ]; then
            if [ "${{ matrix.compiler }}" = "gcc" ]; then
              export CFLAGS="-flto -Werror=odr -Werror=lto-type-mismatch -Werror=strict-aliasing"
            else
              export CC_LD=lld
            fi
            export CC=${{ matrix.compiler }}
            ./autogen.sh && ./configure --enable-mandoc --enable-golang && make -j
          fi
          if [ "${{ matrix.build-system }}" = "meson" ]; then
            if [ "${{ matrix.compiler }}" = "gcc" ]; then
              export CFLAGS="-flto -Werror=odr -Werror=lto-type-mismatch -Werror=strict-aliasing"
            else
              export CC_LD=lld
            fi
            export CC=${{ matrix.compiler }}
            meson setup builddir -Dhtmldoc=true -Dmandoc=true && ninja -C builddir
          fi

  notification:
    runs-on: blacksmith-4vcpu-ubuntu-2204
    name: notifications
    steps:
      - name: irc pull request
        uses: Gottox/irc-message-action@v2.1.3
        if: github.event_name == 'pull_request'
        with:
          server: irc.libera.chat
          notice: false
          channel: "#fvwm"
          nickname: fvwm3-gh-pr
          message: "PR: [${{ github.event.pull_request.number }}]: ${{ github.event.pull_request.title }} -- [${{ github.event.pull_request.user.login }}]"
      - name: irc tag created
        uses: Gottox/irc-message-action@v2.1.3
        if: github.event_name == 'create' && github.event.ref_type == 'tag'
        with:
          server: irc.libera.chat
          notice: false
          channel: "#fvwm"
          nickname: fvwm-gh
          message: ${{ github.actor }} tagged ${{ github.repository }} ${{ github.event.ref }}
