name: FVWM3 CI

on: [ push, pull_request, create ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install
      run: |
        sudo apt install autotools-dev build-essential debhelper dh-autoreconf file fontconfig gettext libbson-dev libevent-dev libfontconfig-dev libfreetype6-dev libfribidi-dev libncurses5-dev libpng-dev libreadline-dev libsm-dev libx11-dev libxcursor-dev libxext-dev libxft-dev libxi-dev libxpm-dev libxrandr-dev libxrender-dev libxt-dev sharutils xsltproc
        (./autogen.sh && CFLAGS= ./configure --disable-silent-rules)
        make CFLAGS="-g -O2 -Wall"
  notification:
    runs-on: ubuntu-latest
    name: notifications
    steps:
      - name: irc push
        uses: rectalogic/notify-irc@v1
        if: github.event_name == 'push'
        with:
          channel: "#fvwm"
          nickname: fvwm3-gh
          message: ${{ github.actor }} pushed ${{ github.event.ref }} ${{ github.event.compare }}
      - name: irc pull request
        uses: rectalogic/notify-irc@v1
        if: github.event_name == 'pull_request'
        with:
          channel: "#fvwm"
          nickname: fvwm3-gh
          message: ${{ github.actor }} opened PR ${{ github.event.html_url }}
      - name: irc tag created
        uses: rectalogic/notify-irc@v1
        if: github.event_name == 'create' && github.event.ref_type == 'tag'
        with:
          channel: "#fvwm"
          nickname: fvwm-gh
          message: ${{ github.actor }} tagged ${{ github.repository }} ${{ github.event.ref }}
