name: Create Release
on:
  workflow_dispatch:
    inputs:
      nextVersion:
        description: 'The next version of fvwm3 after this release: '
        required: true
      isDraft:
        description: 'Make a draft release, rather than an official release'
        type: boolean
        required: true
jobs:
  createrelease:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    container: fvwmorg/fvwm3-build:latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}
        path: fvwm3
    - name: Make workspace safe for git
      run: git config --global --add safe.directory ${GITHUB_WORKSPACE}
    - name: Repo Settings
      run:  |
        git config --global user.name "Thomas Adam"
        git config --global user.email "thomas@fvwm.org"
    - name: Get Current Version (for release...)
      id: versionRelease
      run: |
        cd fvwm3
        git fetch -q -n origin
        echo "versionRelease=$(git show HEAD:./.current-version)" >> $GITHUB_ENV
    - name: Create release branch
      run: |
        cd fvwm3
        git checkout -b release/${{ env.versionRelease }}
    - name: Get date
      id: date
      run: cd fvwm3 && echo "date=$(date -d 'now' +'%Y-%m-%d')" >> $GITHUB_ENV
    - name: Generate changelog
      run: |
        cd fvwm3
        printf "## [${{ env.versionRelease }}](https://github.com/fvwmorg/fvwm3/tree/${{ env.versionRelease }}) (${{ env.date }})\n" >./tmp.out
        curl \
          --silent \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/fvwmorg/fvwm3/releases/generate-notes \
          -d '{"tag_name":"${{ env.versionRelease }}","target_commitish":"main","configuration_file_path":".github/release.yml"}' | \
                jq -r '.body' >> ./tmp.out
        sed -i '2d' ./tmp.out
        sed -i "2r tmp.out" CHANGELOG.md
    - name: Create release commit
      run: |
        cd fvwm3
        echo "ISRELEASED=yes" > .release-status
        git add .release-status
        git add CHANGELOG.md
        git commit -a --author="Thomas Adam <thomas@fvwm.org>" -m "[AUTO]: release ${{ env.versionRelease }}"
        git checkout main
        git merge --ff-only release/${{ env.versionRelease }}
        git tag -am "Release ${{ env.versionRelease }}" ${{ env.versionRelease }}
        git push
        git push origin --tags ${{ env.versionRelease }}
    - name: Build artefacts
      run: |
        cd fvwm3
        meson setup --reconfigure compile -Dmandoc=true -Dhtmldoc=true -Dgolang=enabled && \
        meson compile -C compile && meson dist --formats gztar -C compile
    - name: Create a draft release
      run: |
        cd fvwm3
        echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token
        gh \
        release \
        create ${{ env.versionRelease }} \
        ${{ github.event.inputs.isDraft == 'true' && '--draft' || '' }} \
        --target main \
        --generate-notes \
        ./compile/meson-dist/fvwm3-${{ env.versionRelease }}.tar.gz
    - name: Bump next version
      run: |
        cd fvwm3
        git clean -dfx
        git checkout main
        git pull -q
        echo "${{ github.event.inputs.nextVersion }}" > .current-version
        git add .current-version
        echo "ISRELEASED=no" > .release-status
        git commit -am "build: set next version"
        git push
    - name: Clone docs repository
      uses: actions/checkout@v4
      with:
        repository: fvwmorg/fvwmorg.github.io
        token: ${{ secrets.FVWM_PUBLISH_DOCS }}
        path: fvwmorg.github.io
        fetch-depth: 0

    - name: Generate & Commit manpages on website
      working-directory: ./fvwmorg.github.io
      run: |
        set -euo pipefail
        ${GITHUB_WORKSPACE}/fvwm3/meson-scripts/generate-manpages-website.sh \
            ${GITHUB_WORKSPACE}/fvwm3

        # Only commit/push if there are changes
        git add -A
        if git diff-index --quiet HEAD --; then
          echo "No changes to commit"
        else
          # Update the website version...
          sed -i 's/^\(fvwm3-version: \).*/\1${{ env.versionRelease }}/' _config.yml

          git commit -a --author="Thomas Adam <thomas@fvwm.org>" -m "[AUTO]: Update manpages for release ${{ env.versionRelease }}"
          git show
          git push origin ${{ github.event.inputs.isDraft == 'true' && '--dry-run' || '' }} \
        fi
